@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
[class^="CarouselItem-module_overlay"],
[class*=" CarouselItem-module_overlay"] {
  display: none !important;
}
[class^="Carousel-module_prev"],
[class*=" Carousel-module_prev"],
[class^="Carousel-module_next"],
[class*=" Carousel-module_next"] {
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  filter: blur(5px);
}
[class^="Carousel-module_prev"] img,
[class*=" Carousel-module_prev"] img,
[class^="Carousel-module_next"] img,
[class*=" Carousel-module_next"] img {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  filter: blur(5px);
}
[class^="Carousel-module_prev"],
[class*=" Carousel-module_prev"] {
  transform: translateX(-30%) scale(0.9) !important;
  left: 0 !important;
  z-index: 10;
}
[class^="Carousel-module_next"],
[class*=" Carousel-module_next"] {
  transform: translateX(30%) scale(0.9) !important;
  right: 0 !important;
  z-index: 10;
}
[class^="Carousel-module_itemContainer"],
[class*=" Carousel-module_itemContainer"] {
  backdrop-filter: none !important;
}

.dropShadow {
  text-shadow: 0 0 20px #22c55e;
  mix-blend-mode: exclusion;
}
